option_settings:
  aws:elasticbeanstalk:application:environment:
    "DJANGO_SECRET_KEY": "django-insecure-f%u@+g846dp&p2($w2dkk2xt754cgwvr(n5k@c7o+#_$s1%_&%"
    "DATABASE_NAME": "test"
    "DATABASE_USER": "pola2272"
    "DATABASE_PASSWORD": "sjw754122"
    "AWS_ACCESS_KEY_ID": "AKIAWU53XVV6PLE2LTH7"
    "AWS_SECRET_ACCESS_KEY": "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"
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite.wsgi.py

container_commands:
  01_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python manage.py migrate --noinput"
